<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
    <link href="../../assets/lib/layui/css/layui.css" rel="stylesheet" />
    <link href="../../assets/lib/winui/css/winui.css" rel="stylesheet" />
</head>
<body>
<div style="padding:20px; margin:0 auto;">
    <form class="layui-form" action="" id="showForm">
        <div class="layui-form-item layui-col-xs12">
            <span class="hr-title">基本信息</span><hr>
        </div>
        <div class="layui-form-item layui-col-xs8">
            <label class="layui-form-label">应用<i class="red">*</i></label>
            <div class="layui-input-block">
                <select id="appId" name="appId" win-verify="required" lay-filter="appId" lay-search="">
                </select>
            </div>
        </div>
        <div class=" layui-form-item layui-col-xs4">
            <label class="layui-form-label">状态<i class="red">*</i></label>
            <div class="layui-input-block layui-form winui-radio" id="enabled">
            </div>
        </div>
        <div class="layui-form-item layui-col-xs6">
            <label class="layui-form-label">渠道编码<i class="red">*</i></label>
            <div class="layui-input-block">
                <select id="codeNum" name="codeNum" win-verify="required" lay-filter="codeNum" lay-search="">
                </select>
            </div>
        </div>
        <div class="layui-form-item layui-col-xs6">
            <label class="layui-form-label">渠道费率<i class="red">*</i></label>
            <div class="layui-input-block">
                <input type="text" id="feeRate" name="feeRate" win-verify="required" placeholder="请输入渠道费率" class="layui-input"/>
            </div>
        </div>
        <!-- 添加微信相关输入框 -->
        <div class="wx-input-fields ">
            <div class="layui-form-item layui-col-xs6">
            <label class="layui-form-label">商户号<i class="red">*</i></label>
                <div class="layui-input-block">
                <input type="text" id="mchId" class="layui-input"  placeholder="请输入商户号" />
                </div>
            </div>
            <div class="layui-form-item layui-col-xs6">
            <label class="layui-form-label">版本<i class="red">*</i></label>
                <div class="layui-input-block">
                <input type="text" id="apiVersion" class="layui-input" placeholder="请输入版本" />
                </div>
            </div>
            <div class="layui-form-item layui-col-xs6">
            <label class="layui-form-label">商户密钥<i class="red">*</i></label>
                <div class="layui-input-block">
                <input type="text" id="mchKey" class="layui-input" placeholder="请输入商户密钥" />
                </div>
           </div>
            <div class="layui-form-item layui-col-xs6">
            <label class="layui-form-label">keyContent<i class="red">*</i></label>
                <div class="layui-input-block">
                <input type="text" id="keyContent" class="layui-input"  placeholder="请输入keyContent"/>
                </div>
            </div>
            <div class="layui-form-item layui-col-xs6">
            <label class="layui-form-label">privateKeyContent<i class="red">*</i></label>
                <div class="layui-input-block">
                <input type="text" id="privateKeyContent" class="layui-input" placeholder="请输入privateKeyContent"/>
                </div>
            </div>
             <div class="layui-form-item layui-col-xs6">
            <label class="layui-form-label">密钥值<i class="red">*</i></label>
                 <div class="layui-input-block">
                 <input type="text" id="apiV3Key" class="layui-input" placeholder="请输入密钥值"/>
                 </div>
            </div>
             <div class="layui-form-item layui-col-xs6">
            <label class="layui-form-label">证书序列号<i class="red">*</i></label>
                 <div class="layui-input-block">
                 <input type="text" id="certSerialNo" class="layui-input" placeholder="请输入证书序列号" />
                 </div>
            </div>
        </div>
        <!-- 添加支付宝相关输入框 -->
        <div class="zfb-input-fields ">
            <div class="layui-form-item layui-col-xs6">
                <label class="layui-form-label">网关地址<i class="red">*</i></label>
                <div class="layui-input-block">
                    <input type="text" id="serverUrl"  class="layui-input" placeholder="请输入网关地址" />
                </div>
            </div>
            <div class="layui-form-item layui-col-xs6">
                <label class="layui-form-label">签名算法类型<i class="red">*</i></label>
                <div class="layui-input-block">
                    <input type="text" id="signType" class="layui-input" placeholder="请输入签名算法类型"/>
                </div>
            </div>
            <div class="layui-form-item layui-col-xs6">
                <label class="layui-form-label">公钥类型<i class="red">*</i></label>
                <div class="layui-input-block">
                    <input type="text" id="mode"  class="layui-input" placeholder="请输入公钥类型"/>
                </div>
            </div>
            <div class="layui-form-item layui-col-xs6">
                <label class="layui-form-label">商户私钥<i class="red">*</i></label>
                <div class="layui-input-block">
                    <input type="text" id="privateKey" class="layui-input" placeholder="请输入商户私钥"/>
                </div>
            </div>
            <div class="layui-form-item layui-col-xs6">
                <label class="layui-form-label">支付宝公钥<i class="red">*</i></label>
                <div class="layui-input-block">
                    <input type="text" id="alipayPublicKey" class="layui-input" placeholder="请输入支付宝公钥"/>
                </div>
            </div>
            <div class="layui-form-item layui-col-xs6">
                <label class="layui-form-label">商户公钥应用证书<i class="red">*</i></label>
                <div class="layui-input-block">
                    <input type="text" id="appCertContent" class="layui-input" placeholder="请输入商户公钥应用证书"/>
                </div>
            </div>
            <div class="layui-form-item layui-col-xs6">
                <label class="layui-form-label">指定支付宝公钥证书内容<i class="red">*</i></label>
                <div class="layui-input-block">
                    <input type="text" id="alipayPublicCertContent" class="layui-input" placeholder="请输入指定支付宝公钥证书内容"/>
                </div>
            </div>
            <div class="layui-form-item layui-col-xs6">
                <label class="layui-form-label">指定根证书内容<i class="red">*</i></label>
                <div class="layui-input-block">
                    <input type="text" id="rootCertContent" class="layui-input" placeholder="请输入指定根证书内容"/>
                </div>
            </div>
        </div>
        <div class="layui-form-item layui-col-xs12">
            <label class="layui-form-label">备注</label>
            <div class="layui-input-block">
                <textarea id="remark" name="remark" placeholder="请输入备注" class="layui-textarea" style="height: 100px;" maxlength="200"></textarea>
            </div>
        </div>
        <div class="layui-form-item layui-col-xs6">
            <div class="layui-input-block">
                <button class="winui-btn" id="cancle"><language showName="com.skyeye.cancel"></language></button>
                <button class="winui-btn" lay-submit lay-filter="formWriteBean"><language showName="com.skyeye.save"></language></button>
            </div>
        </div>
    </form>
</div>
<script src="../../assets/lib/layui/layui.js"></script>
<script src="../../assets/lib/layui/custom.js"></script>
<script type="text/javascript">
    layui.config({base: '../../js/payChannel/'}).use('writePayChannel');
</script>
</body>
</html>