<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title></title>
    <link href="../../assets/lib/layui/css/layui.css" rel="stylesheet" />
    <link href="../../assets/lib/winui/css/winui.css" rel="stylesheet" />
</head>

<body style="background-color: RGB(242, 242, 242);">
    <div class="forum-console">
        <div class="forum-title" id="forumTitle">

        </div>
        <div class="main-content layui-row layui-col-space10" style="background-color: white;">
            <div class="layadmin-caller">
                <div class="layui-tab layui-tab-brief caller-tab" lay-filter="docDemoTabBrief">
                    <ul class="layui-tab-title">
                        <li class="layui-this">我的通知</li>
                    </ul>
                </div>
                <div class="caller-contar">
                    <div class="layui-col-xs12 row-model" id="addList">

                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- addListTemplate.tpl -->
    <script type="text/x-handlebars-template" id="addListTemplate">
    {{#each rows}}
    <div class="caller-item" style="padding: 10px 0px;">
        <div class="my-forum-main caller-fl" rowId='{{id}}' forumId='{{forumId}}'>
            <p>
                <span class="my-forum-main-span">
                    <strong>{{noticeTitle}}</strong>
                </span>
                <em>{{forumTitle}}</em>
                <a class="forum-state"></a>
            </p>
            <p class="forum-desc">
                {{#if noticeContent}}
                    <span class="notice-content">举报内容：{{noticeContent}}</span><br>
                {{/if}}
                {{content}}
            </p>
            <div class="caller-fl my-operator-list">
                <a type="delete" style="color: #ff5722 !important;"><language showName="com.skyeye.deleteBtn"></language></a>
            </div>
        </div>
        <em class="caller-fr send-forum-time">{{createTime}}</em>
    </div>
    {{/each}}
    </script>

    <style>
        .forum-state {
            margin-left: 10px;
            font-size: 12px;
        }

        .state-new {
            color: #67C23A;
        }

        .state-down {
            color: #F56C6C;
        }

        .violation {
            color: #F56C6C;
        }

        .notice-content {
            color: #666;
            margin-bottom: 5px;
            display: inline-block;
        }
    </style>

    <script src="../../assets/lib/layui/layui.js"></script>
    <script src="../../assets/lib/layui/custom.js"></script>
    <script type="text/javascript">
        layui.config({ base: '../../js/forumshow/' }).use('mynotice');
    </script>
</body>

</html>